h2, h3 { margin: 10px; font-size: 18px; }
h3 { font-size: 16px; }
p { margin: 10px; }


#title {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 25pt;
    color: white
}


#subtitle {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 70px;
    margin-left: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15pt;
    color: white
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

#map {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    width: 100%
}

.map-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.5);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.2);
    margin-left: 20px;
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
}

#features {
    top: 0;
    height: 130px;
    margin-top: 120px;
    width: 200px;
}

#legend {
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 18px;
    height: 210px;
    margin-bottom: 40px;
    width: 210px;
    overflow-y: auto;
}

.legend-key {
    display: inline-block;
    border-radius: 20%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

.break {
    display: flex;
    position: relative;
    margin: 0px;
    padding: 0px;
}

.dot {
    display: inline-block;
    margin-top: 5px;
    border-radius: 50%;
    opacity: 0.6;
}

.dot-label {
    position: absolute;
    top: 0;
    right: 0;
    font-style: italic;
}

a {
    color: black;
}

.mapboxgl-canvas-container.mapboxgl-interactive,
.mapboxgl-ctrl-group button.mapboxgl-ctrl-compass {
  cursor: unset;
}